.backround{
  background-color: rosybrown;
}
.titlu{
  text-align: center;
  font-size: 500%;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(red, rgb(55, 97, 55), rgb(25, 25, 36));
}
.casuta{
  background-color: aliceblue;
  height: 8vh;
  width: 50vw;
  margin: auto;
  color: darkolivegreen;
  position: relative;
}
#text_casuta{
  position: relative;
  height: 8vh;
  width: 50vw;
  margin: auto;
  font-size: 150%;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  border-style: none;
}
.text_taiat{
  margin-left: 100px;
  margin-top: 40px;
  text-align: center;
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  
}

.footer{
   display: flex;
   justify-content: space-between;
   align-content: center;
   margin-top: 25px;
   color: grey;
   font-size: 150%;
   font-family: 'Times New Roman', Times, serif;
}

.font{
  font-size: 30px;
  border-color: transparent;
  background-color: white;
  color: grey;
}
.buttons{
  display: inline-block;
}

#items{
  display: inline-block;
}